<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.deri.wsml.eclipse.reasonerview"
   name="WSML Reasoner View"
   version="0.7"
   provider-name="STI Innsbruck"
   class="org.deri.wsml.eclipse.reasonerview.ReasonerView">
   <runtime>
      <library name="reasonerGUI.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="net.sourceforge.wsmo4j"/>
	  <import plugin="org.deri.lib.texteditor"/>
      <import plugin="org.deri.wsml.eclipse"/>
      <!--<import plugin="org.deri.wsml.eclipse.texteditor"/>-->
      <!--<import plugin="org.deri.wsml.eclipse.visualizer"/>-->
      <import plugin="org.eclipse.core.runtime"/>
	  <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui"/>
	  <import plugin="org.eclipse.core.resources"/>
	  <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.deri.wsml.eclipse.reasoner"/>
      <import plugin="org.deri.wsml.eclipse.reasoner.predefinedqueries"/>
      <!--<import plugin="org.deri.wsml.eclipse.formbasededitor"/>-->

   </requires>
   <extension-point id="adapters" name="org.deri.wsml.eclipse.reasonerview.adapter" schema="schema/adapters.exsd"/>

     <extension
         point="org.eclipse.ui.views">
      <view
            name="WSML-Reasoner"
            icon="icons/wsml_logo.png"
            category="org.deri.wsml.views"
            class="org.deri.wsml.eclipse.reasonerview.views.MainView"
            id="org.deri.wsml.eclipse.reasonerview.views.MainView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.deri.wsml.eclipse.perspective.WSMLPerspective">
         <view
               id="org.deri.wsml.eclipse.reasonerview.views.MainView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.TaskList"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.deri.wsml.eclipse.reasonerview.adapters">
      <adapter
            adaptable="org.eclipse.ui.IEditorPart"
            factory="org.deri.wsml.eclipse.reasonerview.extension.CommonAdaptFactory"/>
      <!--<adapter
            adaptable="org.deri.wsml.eclipse.visualizer.editors.WSMLViz"
            factory="org.deri.wsml.eclipse.reasonerview.extension.CommonAdaptFactory"/>
      <adapter
            adaptable="org.deri.wsml.eclipse.formbasededitor.basiceditor.BasicEditor"
            factory="org.deri.wsml.eclipse.reasonerview.extension.CommonAdaptFactory"/>-->
   </extension>

</plugin>
